*{
	text-decoration: none!important;
	position: static;
}

li {
	list-style: none;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	background: rgb(255, 255, 255, 0.93);
}

.btn-search {
	font-size: 20px;
}

.navbar-nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	position: fixed;
	border-top: 1px solid #ddd;
	bottom: 0;
	width: 100%;
	right: 0;
	background: #fff;
}

.nav-link {
	font-size: 0.83em;
	display: grid;
	align-items: center;
}

.icon {
	font-size: 20px;
	margin: auto;
}

.user-profile {
	display: none;
	width: 135px;
	align-content: center;
	padding-left: 20px;
	font-size: 16px;
	text-align: center;
}

.list-toggle {
	display: grid;
	width: 42px;
	height: 100%;
	padding: 10px;
	grid-template-columns: 1fr;
	grid-gap: 6px;
	cursor: pointer;
}

.toggle {
	display: block;
	padding: 1.2px;
	width: 100%;
}

.list-toggle:hover {
	background: rgb(0, 0, 0, 0.01);
}

.cross-toggle {
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	padding-top: 17px;
	cursor: pointer;
	position: relative;
	left: -50px;
}

.cross-toggle .toggle {
	width: 23px; padding: 1px;
}

.cross-toggle .toggle:nth-child(1) {
	transform: rotate(45deg) translate(1px, -4px);
}

.cross-toggle .toggle:nth-child(2) {
	transform: rotate(-45deg) translate(5px, 0px);
}

.sidebar-menu {
	position: fixed;
	right: -100%;
	top: 0;
	height: 100vh;
	width: 80%;
	max-width: 330px;
	z-index: 5;
	transition: all 0.5s;
}

.sidebar-menu.slide {
	right: 0;
}

.footer{
	margin-bottom: 40px;
}

.footer .card {
	position: static;
}


@media (min-width: 768px){
	.navbar-nav {
		position: static;
		width: auto;
		display: grid;
		border-top: 0;
		background: none;
	}

	.nav-link {
		display: flex;
	}

	.icon {
		margin-left: auto;
		margin-right: 5px;
	}

	.user-profile {
		display: flex;
	}

	.footer {
		margin-bottom: 0;
	}
}