.navbar-brand {
	font-size: 20px;
}

.sidebar {
	width: 200px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;
	transition: all 0.2s;
	z-index: 3;
	border-right: 2px solid #fff;
}

.sidebar-menu {
	overflow: auto;
}

.sidebar-icon {
	font-size: 27px;
}

.sidebar-title {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
}

.sidebar-item:hover .sidebar-title {
	color: #007bff!important;
}

.sidebar-item:hover .sidebar-icon {
	color: #007bff!important;
}

.sidebar-item {
	text-decoration: none!important;
	display: flex;
	align-items: center;
}

.sidebar-footer {
	width: 200px;
	position: fixed;
	bottom: 0;
}

.part {
	margin-top: 0px;
}

.jumbotron {
	background: linear-gradient(to bottom right, #007bff, #000ccc);
	height: 300px;
}

.content-body {
	position: relative;
	top: -270px;
}

@media(max-width: 578px){
	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}

	.part {
		margin-top: 60px;
	}
}


@media(max-width: 768px){
	.sidebar {
		left: -200px;
	}

	.sidebar.slide {
		left: 0;
	}

	form {
		display: none;
	}
}



@media(min-width: 768px){
	.content {
		display: grid;
		grid-template-columns: 200px 1fr;
	}

	.sidebar-toggle {
		display: none;
	}
}


@media(min-width: 992px){
	.part {
		margin-left: auto;
	}
}