.thumbnail {
	height: 100px;
	width: 100px;
	overflow: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.thumbnail img {
	width: 100%;
}

form {
	display: block;
}

.form-group {
	display: flex;
	justify-content: space-between;
}

.modal-content {
	width: 90%;
}



@media(max-width: 578px){
	.form-group {
		display: block;
	}
}