.card.border-primary {
	border-left: 5px solid #00bfff!important;
}

.card.border-danger {
	border-left: 5px solid #ff0000!important;
}

.card.border-success {
	border-left: 5px solid #21ff00!important;
}

.card h5 {
	color: #c0c0c0;
}